    <!-- <body> -->
    <link rel="shortcut icon" href="../../assets/ubold/layouts/light/assets/images/favicon.ico">

    <link href="../../assets/ubold/layouts/light/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <link href="../../assets/ubold/layouts/light/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/ubold/layouts/light/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/ubold/layouts/light/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .showright {
            right: 0px;
        }
    </style>
    <!-- Begin page -->
    <div style="overflow: scroll !important;" id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fe-bell noti-icon"></i>
                        <span class="badge badge-danger rounded-circle noti-icon-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <!-- <small>Clear All</small> -->
                                        </a>
                                    </span>Notification
                                </h5>
                        </div>
                        <div class="slimscroll noti-scroll">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="../../assets/ubold/layouts/light/assets/images/email.png" class="img-fluid rounded-circle" alt="" /> </div>
                                <p class="notify-details">Verify Email</p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>Verify your email through confimation email</small>
                                </p>
                            </a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="../../assets/ubold/layouts/light/assets/images/phone.png" class="img-fluid rounded-circle" style="width:70%;height:70%;" alt="" /> </div>
                                <p class="notify-details">Verify Phone</p>
                                    <!-- <p class="text-muted mb-0 user-msg"> -->
                                    <p class="text-muted mb-0 user-msg">
                                        <small class="text-muted">Verify your mobile number through otp</small>
                                    </p>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="../../assets/ubold/layouts/light/assets/images/kyc.png" class="img-fluid rounded-circle" alt="" /> </div>
                                <p class="notify-details">Verify KYC</p>
                                    <!-- <p class="text-muted mb-0 user-msg"> -->
                                    <p class="text-muted mb-0 user-msg">
                                        <small class="text-muted">Verify your account by uploading KYC</small>
                                    </p>
                            </a>
                        </div>
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                            <!-- View all -->
                            <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src={{profile_url}} alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                                LOLOLOLO <i class="mdi mdi-chevron-down"></i> 
                            </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-user"></i>
                            <span>My Profile</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <!-- item-->
                        <a href="javascript:void(0);" (click)="logout()" class="dropdown-item notify-item">
                            <i class="fe-log-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- LOGO -->
            <div class="logo-box">
                <a href="index.html" class="logo text-center">
                    <span class="logo-lg">
                            <img src="../../assets/ubold/layouts/light/assets/images/logo-light.png" alt="" height="18">
                            <!-- <span class="logo-lg-text-light">UBold</span> -->
                    </span>
                    <span class="logo-sm">
                            <!-- <span class="logo-sm-text-dark">U</span> -->
                    <img src="../../assets/ubold/layouts/light/assets/images/logo-sm.png" alt="" height="24">
                    </span>
                </a>
            </div>
            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button (click)="showleft()" style="display: block;" class="button-menu-mobile waves-effect waves-light">
                        <i class="fe-menu"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div id="leftbar1" style="display: block !important; left: -270px;" class="left-side-menu">
            <div class="slimscroll-menu">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">
                        <li>
                            <a href="javascript: void(0);">
                                <i class="fe-airplay"></i>
                                <span class="badge badge-success badge-pill float-right">4</span>
                                <span> Dashboards </span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="../../assets/ubold/layouts/light/dashboard-2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="../../assets/ubold/layouts/light/dashboard-3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="../../assets/ubold/layouts/light/dashboard-4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- End Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div (click)="hideleft()" class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Basic Details</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-lg-6">

                                            <form [formGroup]="registration_form" (ngSubmit)="register(registration_form.value)">

                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Name</label>
                                                    <ion-input formControlName="name" type="text" id="simpleinput" class="form-control" placeholder="placeholder"></ion-input>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-disable">Email</label>
                                                    <ion-input formControlName="email" type="text" class="form-control" id="example-disable" disabled="" value="Disabled value"></ion-input>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-number">Mobile Number</label>
                                                    <ion-input formControlName="mobile_number" class="form-control" id="example-number" type="number" name="number"></ion-input>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Current Address</label>
                                                    <textarea formControlName="current_address" class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-date">Date of Birth</label>
                                                    <ion-input formControlName="date_of_birth" class="form-control" id="example-date" type="date" name="date"></ion-input>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <div class="custom-control custom-radio">
                                                        <input formControlName="gender" type="radio" id="customRadio1" name="gender" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadio1">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input formControlName="gender" type="radio" id="customRadio2" name="gender" class="custom-control-input">
                                                        <label class="custom-control-label" for="customRadio2">Female</label>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Occupation</label>
                                                    <ion-input formControlName="occupation" type="text" id="simpleinput" class="form-control" placeholder="placeholder"></ion-input>
                                                </div>

                                                <div>
                                                    <label for="example-disable">Fatherrrrrrrr </label>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Name</label>
                                                    <ion-input formControlName="father_name" type="text" id="simpleinput" class="form-control" placeholder="placeholder"></ion-input>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-number">Mobile Number</label>
                                                    <ion-input formControlName="father_mobile_number" class="form-control" id="example-number" type="number" name="number"></ion-input>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <ion-input formControlName="father_email_address" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></ion-input>
                                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Current Address</label>
                                                    <textarea formControlName="father_current_address" class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>

                                                <div>
                                                    <label for="example-disable">Guardiannnnnnnnn </label>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="simpleinput">Name</label>
                                                    <ion-input formControlName="guardian_name" type="text" id="simpleinput" class="form-control" placeholder="placeholder"></ion-input>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-number">Mobile Number</label>
                                                    <ion-input formControlName="guardian_mobile_number" class="form-control" id="example-number" type="number" name="number"></ion-input>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <ion-input formControlName="guardian_email_address" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></ion-input>
                                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                                </div>

                                                <div class="form-group mb-3">
                                                    <label for="example-textarea">Current Address</label>
                                                    <textarea formControlName="guardian_current_address" class="form-control" id="example-textarea" rows="5"></textarea>
                                                </div>

                                                <div class="form-group mb-3">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkmeout0">
                                                        <label class="custom-control-label" for="checkmeout0">Email preffff</label>
                                                    </div>
                                                </div>

                                                <button class="btn btn-primary waves-effect waves-light" type="submit">Register</button>

                                            </form>

                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row-->

                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
            </div>
                <!-- container -->
            </div>
            <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Right bar overlay-->
    <!-- Vendor js -->
    <script src="../../assets/ubold/layouts/light/assets/js/vendor.min.js"></script>
    <!-- Plugins js-->
    <script src="../../assets/ubold/layouts/light/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/jquery-knob/jquery.knob.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.time.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.tooltip.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.selection.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.crosshair.js"></script>
    <!-- Dashboar 1 init js-->
    <script src="../../assets/ubold/layouts/light/assets/js/pages/dashboard-1.init.js"></script>
    <!-- App js-->
    <script src="../../assets/ubold/layouts/light/assets/js/app.min.js"></script>
    <!-- </body> -->
