<ion-content [attr.noScroll]="shouldScroll">
    <!-- <body> -->
    <link rel="shortcut icon" href="../../assets/ubold/layouts/light/assets/images/favicon.ico">

    <link href="../../assets/ubold/layouts/light/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <link href="../../assets/ubold/layouts/light/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/ubold/layouts/light/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/ubold/layouts/light/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .showright {
            right: 0px;
        }
    </style>
    <!-- Begin page -->
    <div style="overflow: scroll !important;" id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle  waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fe-bell noti-icon"></i>
                        <span class="badge badge-danger rounded-circle noti-icon-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <!-- <small>Clear All</small> -->
                                        </a>
                                    </span>Notification
                                </h5>
                        </div>
                        <div class="slimscroll noti-scroll">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="../../assets/ubold/layouts/light/assets/images/email.png" class="img-fluid rounded-circle" alt="" /> </div>
                                <p class="notify-details">Verify Email</p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>Verify your email through confimation email</small>
                                </p>
                            </a>
                            <!-- item-->
                            <a (click)="opt();" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="../../assets/ubold/layouts/light/assets/images/phone.png" class="img-fluid rounded-circle" style="width:70%;height:70%;" alt="" /> </div>
                                <p class="notify-details">Verify Phone</p>
                                    <!-- <p class="text-muted mb-0 user-msg"> -->
                                    <p class="text-muted mb-0 user-msg">
                                        <small class="text-muted">Verify your mobile number through otp</small>
                                    </p>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="../../assets/ubold/layouts/light/assets/images/kyc.png" class="img-fluid rounded-circle" alt="" /> </div>
                                <p class="notify-details">Verify KYC</p>
                                    <!-- <p class="text-muted mb-0 user-msg"> -->
                                    <p class="text-muted mb-0 user-msg">
                                        <small class="text-muted">Verify your account by uploading KYC</small>
                                    </p>
                            </a>
                        </div>
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                            <!-- View all -->
                            <i class="fi-arrow-right"></i>
                        </a>
                    </div>
                </li>
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img id="profile_img" src={{profile_url}} alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                                LOLOLOLO <i class="mdi mdi-chevron-down"></i> 
                            </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a (click)="goToProlfilePage()" href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="fe-user"></i>
                            <span>My Profile</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <!-- item-->
                        <a href="javascript:void(0);" (click)="logout()" class="dropdown-item notify-item">
                            <i class="fe-log-out"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- LOGO -->
            <div class="logo-box">
                <a href="index.html" class="logo text-center">
                    <span class="logo-lg">
                            <img src="../../assets/ubold/layouts/light/assets/images/logo-light.png" alt="" height="18">
                            <!-- <span class="logo-lg-text-light">UBold</span> -->
                    </span>
                    <span class="logo-sm">
                            <!-- <span class="logo-sm-text-dark">U</span> -->
                    <img src="../../assets/ubold/layouts/light/assets/images/logo-sm.png" alt="" height="24">
                    </span>
                </a>
            </div>
            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button (click)="showleft()" style="display: block;" class="button-menu-mobile waves-effect waves-light">
                        <i class="fe-menu"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div id="leftbar" style="display: block !important; left: -270px;" class="left-side-menu">
            <div class="slimscroll-menu">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">
                        <li>
                            <a href="javascript: void(0);">
                                <i class="fe-airplay"></i>
                                <span class="badge badge-success badge-pill float-right">4</span>
                                <span> Dashboards </span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="../../assets/ubold/layouts/light/dashboard-2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="../../assets/ubold/layouts/light/dashboard-3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="../../assets/ubold/layouts/light/dashboard-4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- End Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div (click)="hideleft()" class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <input (change)="upload($event)" type="file" class="image-upload" accept="image/*">
                                                <!-- <input type="text" class="form-control border-white" id="dash-daterange"> -->
                                                <div (click)="upload()" class="input-group-append">
                                                    <span class="input-group-text bg-blue border-blue text-white">
                                                            <i class="mdi mdi-calendar-range font-13"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                                            <i class="mdi mdi-autorenew"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                                            <i class="mdi mdi-filter-variant"></i>
                                        </a>
                                    </form>
                                </div>
                                <!-- <h4 class="page-title" (click)="navigateToRegistration()">Registration Page</h4> -->
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div id="wrapper">
                      <div style="margin-left: auto;" class="content-page">
                          <div class="content">
                              <!-- Start Content-->
                              <div class="container-fluid">
                                  <!-- start page title -->
                                  <div class="row">
                                      <div class="card-box text-center" style="
          margin: 0 auto;
          ">
                                          <img src={{profile_url}} class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                                          <h4 class="mb-0">Geneva McKnight</h4>
                                          <p class="text-muted"></p>
                                          <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Edit Profile</button>
                                          <!-- <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Message</button> -->
                                          <div class="text-left mt-3">
                                              <h4 class="font-13 text-uppercase">Details :</h4>
                                              <!-- <p class="text-muted font-13 mb-3">
                                                  Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the
                                                  1500s, when an unknown printer took a galley of type.
                                              </p> -->
                                              <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ml-2">Geneva
                                                      D. McKnight</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Mobile Number :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Current Address :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Date of Birth :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Gender :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Occupation :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Father Name :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Father Mobile Number :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Father Email Address :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Father Current Address :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Guardian Name :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Guardian Mobile Number :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Guardian Email Address :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Guardian Current Address :</strong> <span class="ml-2 ">user@email.domain</span></p>
                                              <p class="text-muted mb-2 font-13"><strong>Email Preference:</strong> <span class="ml-2 ">user@email.domain</span></p>

                                          </div>
                                      </div> <!-- end card-box -->
                                       <!-- end card-box-->
                                   <!-- end col-->
                                   <!-- end col -->
                              </div>
                              </div> <!-- container -->
                          </div> <!-- content -->
                          <!-- Footer Start -->
                          <!-- end Footer -->
                      </div>
                      <!-- ============================================================== -->
                      <!-- End Page content -->
                      <!-- ============================================================== -->
                  </div>
                    <!-- end row-->

                    <!-- end row -->

                    <!-- end row -->
                </div>
                <!-- container -->
            </div>
            <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Right bar overlay-->
    <!-- Vendor js -->
    <script src="../../assets/ubold/layouts/light/assets/js/vendor.min.js"></script>
    <!-- Plugins js-->
    <script src="../../assets/ubold/layouts/light/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/jquery-knob/jquery.knob.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.time.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.tooltip.min.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.selection.js"></script>
    <script src="../../assets/ubold/layouts/light/assets/libs/flot-charts/jquery.flot.crosshair.js"></script>
    <!-- Dashboar 1 init js-->
    <script src="../../assets/ubold/layouts/light/assets/js/pages/dashboard-1.init.js"></script>
    <!-- App js-->
    <script src="../../assets/ubold/layouts/light/assets/js/app.min.js"></script>
    <!-- </body> -->
</ion-content>